<div>
                <div>
                    <a href="http://localhost:8000/danhmuc/1" class="list-group-item active"><i class="fa fa-usd"></i> Kinh Doanh
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="http://localhost:8000/danhmuc/1">Nông sản </a>
                            <span class="label label-primary pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="http://localhost:8000/danhmuc/2">Hải sản</a>
                            <span class="label label-primary pull-right"></span>
                        </li>
                    </ul>
                </div>
                <!-- /.div -->
                <div>
                    <a href="http://localhost:8000/danhmuc/3" class="list-group-item active list-group-item-success"><i class="fa fa-home"></i>  Đời sống
                    </a>
                    <ul class="list-group">

                        <li class="list-group-item">
                            <a href="http://localhost:8000/danhmuc/3">Văn hóa</a>
                            <span class="label label-success pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="http://localhost:8000/danhmuc/4">Xã hội</a>
                            <span class="label label-success pull-right"></span>
                        </li>
                    </ul>
                </div>
                <!-- /.div -->
                <div>
                    <a href="http://localhost:8000/danhmuc/5" class="list-group-item active"><i class="fa fa-medkit"></i> Y Tế  
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="http://localhost:8000/danhmuc/5">Bảo hiểm</a>
                            <span class="label label-success pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="http://localhost:8000/danhmuc/6">Sắc đẹp</a>
                            <span class="label label-success pull-right"></span>
                        </li>
                    </ul>
                </div>

                <div>
                    <a href="http://localhost:8000/danhmuc/7" class="list-group-item active"><i class="fa fa-gavel"></i> Pháp luật
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="http://localhost:8000/danhmuc/7">An ninh nhân dân</a>
                            <span class="label label-success pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="http://localhost:8000/danhmuc/8">An ninh quốc phòng</a>
                            <span class="label label-success pull-right"></span>
                        </li>
                    </ul>
                </div>

                <div>
                    <a href="http://localhost:8000/danhmuc/9" class="list-group-item active"><i class="fa fa-wheelchair"></i> Thể thao
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="http://localhost:8000/danhmuc/9">Trong nước</a>
                            <span class="label label-success pull-right"></span>
                        </li>
                        <li class="list-group-item">
                            <a href="http://localhost:8000/danhmuc/10">Quốc tế</a>
                            <span class="label label-success pull-right"></span>
                        </li>
                    </ul>
                </div>
                <!-- /.div -->
            </div>